<!doctype html>
<html>
<head>
    <link href="./stylesheets/404.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <title>404 Error</title>
</head>
<body>
<div class="not-found-error-container">
    <img src="./images/frown-face.png" alt="Frown Face">
</div>
<div class="not-found-error-message-container">
    <h1 id="not-found-number">404</h1>
</div>
<div class="not-found-error-message-container">
    <h1>Page not found</h1>
</div>
<div id="not-found-extended-message" class="not-found-error-message-container">
    <h2>The page you're searching for does not exist.<br/>
        &emsp;&emsp;&emsp;&nbsp;You should try navigating <a href="/">here!</a></h2>
</div>
</body>
</html>