<div class="top-container">
    <h1 class="about-cta-header">Story of Foster Awareness</h1>
</div>
<div class="middle-container">
    <p class="about-text">Foster Awareness strives to bring awareness of the state of foster care and foster
        children through the lens of those most impacted - the children and their families. We do this by supplying
        statistical data through embedded and reliable resources, hearing stories from past and present foster
        children and families, while also bringing to light some of the modern issues and advances in the state of
        American foster care. There is a big picture, the future, every child deserves to dream big no matter the
        circumstances. As modern society continues to advance, it's important that we do our best to not leave anyone
        behind. Our children are the future of society and every child has a place. There are many things we can do
        together to make sure every child has a fighting chance.
    </p>
</div>