<div class="top-container">
    <img id="foster-together-image" src="./images/together.jpg" alt="foster-together-picture">
</div>
<div class="middle-container">
    <p class="about-text">
        Foster Awareness strives to bring awareness to the state of our foster care system through the lens
        of those most impacted - the children and their families. We do this by supplying statistical data
        through embedded and reliable sources, and through first hand experiences hearing stories from
        past and present foster families. We hope to highlight some modern issues and advances to the American
        foster care system. Ensuring that every child has a fighting chance in the growing technical society
        we live in, there are options to donate all sorts of technology devices that are delivered directly
        to foster and adoption agencies throughout the country. This option ensures students have the resources
        they need to develop the critical technical skills required to build upon and contribute to present and
        future innovations.
    </p>
</div>
<div class="contact-form-cta-container">
    <h1 id="contact-cta-header">Get In Touch.</h1>
    <p id="contact-cta-text">We're here to answer all your questions, please send a detailed message and someone from our team will reach out to you.</p>
    <i class="fas fa-phone">&nbsp;206 555 4343</i>&emsp;&emsp;&emsp;
    <i class="far fa-envelope-open"><a href="#">&nbsp;Email Us</a></i>
</div>
<div class="contact-form-container">
    <section class="contact-form-section">
        <h1>Contact Form</h1>
        <p>We'd love to hear from you, please send us a message.</p>
        <form id="contact-form">
            <section class="contact-form-inner-section">
            <div class="contact-form-inner-div">
                <label for="contact-form-firstname">First Name - (required)</label><br/>
                <input class="contact-form-input" id="contact-form-firstname" name="firstname">
            </div>
            <div class="float-inner-div-left">
                <label for="contact-form-lastname">Last Name - (required)</label><br/>
                <input class="contact-form-input" id="contact-form-lastname" name="lastname">
            </div>
            </section>
            <section class="contact-form-inner-section">
                <div class="contact-form-inner-div">
                    <label for="contact-form-email">Email - (required)</label><br/>
                    <input class="contact-form-input" id="contact-form-email" name="email">
                </div>
                <div class="float-inner-div-left">
                    <label for="contact-form-phonenumber">Telephone Number</label><br/>
                    <input class="contact-form-input" id="contact-form-phonenumber" name="phonenumber"><br style="clear: both"/>
                </div>
            </section>
            <section>
                <div>
                    <label for="contact-form-textarea">Message</label>
                    <textarea id="contact-form-textarea"></textarea>
                </div>
                <div>
                    <button id="contact-form-button">Submit</button>
                </div>
            </section>
        </form>
    </section>
</div>