<div class="top-container">
    <h1 class="about-cta-header">Story of Foster Awareness<br/>
        <b id="about-bold-white">The future is in our hands.</b>
    </h1>
</div>
<div class="middle-container">
    <p class="about-text">
        Foster Awareness strives to bring awareness to the state of our foster care system through the lens
        of those most impacted - the children and their families. We do this by supplying statistical data
        through embedded and reliable resources, and through first hand experiences, hearing stories from
        past and present foster families. We hope to highlight some modern issues and advances to the American
        foster care system. Here's the big picture - every child deserves to dream big no matter their circumstances.
        As modern society continues to advance, it's important that we do our best to bring bright minds along.
        Together, we can make sure everyone has a fighting chance.
    </p>
</div>