<div class="top-cta-container">
    <img id="foster-group-image" src="./images/foster-group.jpg" alt="foster-group-picture">
    <div class="tour-cta-container">
        <button id="tour-cta-button">CTA BUTTON</button>
    </div>
</div>
<div class="element_border_horizontal"></div>
<div class="main">
    <section class="foster_facts">
        <h3>Section 1</h3>
        <ul>
            <li>Some factual information will go here.</li>
            <li>Some factual information will go here.</li>
            <li>Some factual information will go here.</li>
            <li>Some factual information will go here.</li>
            <li>Some factual information will go here.</li>
        </ul>
    </section>
    <section class="facts_down_load">
        <h3>Section2 </h3>
    </section>
</div>
<div class="element_border_horizontal"></div>
