<div class="top-cta-container">
    <img id="foster-group-image" src="./images/foster-group.jpg" alt="foster-group-picture">
    <div class="tour-cta-container">
        <button id="tour-cta-button">CTA BUTTON</button>
    </div>
</div>
<div class="element_border_horizontal"></div>
<section class="main">
    <section class="foster_facts">
        <ul>
            <li class="foster_stat_header"><b>TRENDS</b></li>
            <span>
                <p class="foster_stat">The number of children in foster care on september 30, 2019 (423,997)
                  is almost equal to those in care on the same day in 2009 (423,773).
                  Additionally, there was a decrease in these numbers from FFY 2018 (435,031)
                  to FFY 2019 (423,997).
                </p>
            </span>
            <li class="foster_stat_header"><b>Entries</b></li>
            <span>
                <p class="foster_stat">During FFY 2019, 251,359 children entered foster care. More than half
                    (55 percent) had a case goal of reunification with their parents or primary caretakers.
                </p>
            </span>
            <li class="foster_stat_header"><b>Placements</b></li>
            <span>
                <p class="foster_stat">Children in foster care live in a variety of placement settings and may
                    move among or between settings while in care. For example, a child may move from a group
                    home to a relative foster home.
                </p>
            </span>
            <li class="foster_stat_header"><b>Outcomes</b></li>
            <span>
                <p class="foster_stat">From FFY 2009 to FFY 2019, there were increases in the percentages of
                    children who left the system for adoption and guardianship. There were decreases in the
                    percentages of children who left the system to reunite with their parents or primary
                    caregivers or live with other relatives or who had other outcomes. There was also a
                    decrease in the percentage of those emancipated.
                </p><br/>
                <a id="childwelfare_link" href="https://www.childwelfare.gov/pubPDFs/foster.pdf" target="_blank">
                    See the full statistical pdf report from childwelfare.gov
                </a><br/>
                <a href="https://www.childwelfare.gov/" target="_blank">
                    <img style="position: relative; top: -5px;" src="./images/childwelfarelogo.png" alt="Childwelfare logo">
                </a><br/>
                <a href="https://nfpaonline.org/" target="_blank">
                    <img style="position: relative; top: -120px;" src="./images/NFPAlogo.png" alt="National Foster Parent Association logo">
                </a>
            </span>
        </ul>
    </section>
    <section class="foster_news">
        <section id="news_section_1">
            <img src="./images/foster-mom.jpg" alt="Foster mom reading a book">
            <h6 class="news_header"><b>Foster Care is tough. How Covid 19 makes it tougher.</b></h6>
            <p class="news_date">JAN 08 2021</p>
            <p class="news_summary">
                How is foster care impacting children and what are some things you, as a foster parent,
                can do to assist your child through these times.
            </p>
            <a href="https://www.nytimes.com/2021/01/08/parenting/foster-care-coronavirus.html" target="_blank">Read More</a>
        </section>
        <section id="news_section_2">
            <img src="./images/foster-family.jpg" alt="Foster family walking">
            <h6 class="news_header"><b>Consider getting involved as a foster parent</b></h6>
            <p class="news_date">JAN 29 2021</p>
            <p class="news_summary">
                Have you ever considered becoming a foster parent? Maybe you've wondered what some
                qualifications are, or when's the right time to take the next step.
            </p>
            <a href="https://www.nytimes.com/2021/01/29/parenting/foster-parent-advice.html" target="_blank">Read More</a>
        </section>
    </section>
</section>
<div class="element_border_horizontal"></div>
