<div class="top-image-container">
    <img id="foster-group-image" src="./images/foster-group.jpg" alt="foster-group-picture">
    <div class="tour-cta-container">
        <button id="tour-cta-button">CTA BUTTON</button>
    </div>
</div>
<h1>Welcome to Foster Awareness</h1>
