<div id="top-div-border" class="locations-div-border"></div>
<div class="locations-form-container">
    <section id="locations-info-section">
        <p id="geolocation-text-format" class="locations-text-format">Our Locations Map allows you to choose city and state to locate foster
            centers in your chosen area. You can also allow our system to locate your coordinates and do the work for you.
        </p>
        <div class="locate-me-container">
            <button class="locate-button" id="geolocate-me-button">Geo Locate</button>
            <p id="geolocate-me-error"></p>
        </div>
    </section>
    <div class="locations-form-border"></div>
    <section id="locations-form-section">
        <form id="locations-form">
            <label class="locations-text-format" id="locations-state-label" for="states"></label>
            <select class="locations-select-dropdown" id="states" name="states"></select><br/>
            <label class="locations-text-format" id="locations-city-label" for="city"></label>
            <select class="locations-select-dropdown" id="city" name="city"></select><br/>
            <button class="locate-button" id="googlelocate-me-button">Locate</button>
            <p id="googlelocate-me-error"></p>
        </form>
    </section>
</div>
<div id="locations-map"></div>
