<form>
    <label for="states">Choose a state:</label>
    <select id="states" name="states">
        <option value="Washington">Washington</option>
        <option value="Ohio">Ohio</option>
    </select>
    <label for="city">Choose a city:</label>
    <select id="city" name="city"></select>
</form>