<div id="top-div-border" class="locations-div-border"></div>
<div class="locations-form-container">
    <section id="locations-info-section">
        <p id="geolocations-text-format" class="locations-text-format">One-click <b id="geo-bold">Geolocation</b>
            search solution speeds up the process.
        </p>
        <p id="geolocation-info-text">Geolocation search uses your computer's most convenient internal location system.
           This can involve your system's internal GPS or even your IP-address. <b id="geo-bold">
           This includes the best and most accurate search results for your location.</b> Here at
           Foster Awareness we advocate for transparency, so your information will never be stored
           on our systems without explicitly asking for your consent.</p>
        <div class="locate-me-container">
            <button class="locate-button" id="geolocate-me-button">Geolocate</button>
            <p id="geolocate-me-error"></p>
        </div>
    </section>
    <div id="form-border" class="locations-form-border"></div>
    <section id="locations-form-section">
        <form id="locations-form">
            <label class="locations-text-format" id="locations-state-label" for="states"></label>
            <select class="locations-select-dropdown" id="states" name="states"></select><br/>
            <label class="locations-text-format" id="locations-city-label" for="city"></label>
            <select class="locations-select-dropdown" id="city" name="city"></select><br/>
            <button class="locate-button" id="googlelocate-me-button">Locate</button>
        </form>
        <p id="googlelocate-me-error"></p>
        <p id="googlelocate-info">This simple search gives you the option to search locations
           outside of your current position. This searches by <b id="geo-bold">State</b> and <b id="geo-bold">
           City</b>.
        </p>
        <img src="https://img.icons8.com/doodle/48/000000/street-view.png" alt="You Icon"><b>&nbsp;-&nbsp;You</b><br/>
        &emsp;<img src="https://img.icons8.com/office/16/000000/department.png" alt="Agency Icon"><b>&emsp;&nbsp;-&nbsp;Agency</b>
    </section>
</div>
<div id="locations-map-error"></div>
<div id="locations-map"></div>
