<div class="locations-form-container">
    <form>
        <label for="states">Choose a state:</label>
        <select id="states" name="states"></select>
        <label for="city">Choose a city:</label>
        <select id="city" name="city"></select>
    </form>
</div>
<div id="locations-map" style="height: 400px; width: 100%"></div>
