/* remove bootstrap text decoration on footer links */
.text-white {
    text-decoration: none;
}

.top-container {
    height: 25vh;
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

.about-cta-header {
    padding-top: 65px;
    font-family: 'Titan One', serif;
}

#about-bold-white {
    color: white;
}

.middle-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-text {
    text-align: center;
    font-size: 20px;
    width: 700px;
    font-family: 'Abhaya Libre', serif;
}