/* remove bootstrap text decoration on footer links */
.text-white {
    text-decoration: none;
}

.top-container {
    height: 25vh;
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

.about-cta-header {
    padding-top: 100px;
    font-family: 'Titan One', serif;
}

.about-cta-body {
    padding-top: 100px;
    font-family: 'Abhaya Libre', serif;
}

#about-text-white {
    color: white;
}

.middle-container {
    display: flex;
    justify-content: center;
}

.about-text {
    text-align: center;
    font-size: 22px;
    width: 500px;
    font-family: 'Abhaya Libre', serif;
}