/* remove bootstrap text decoration on footer links */
.text-white {
    text-decoration: none;
}

body {
    padding: 15px 40px;
}

.locations-div-border {
    height: 55px;
}

#top-div-border {
    border-top: 2px solid #000;
}

.locations-form-container section {
    padding: 5px 5px 5px;
}

#locations-map {
    border-top: 2px solid #000;
    height: 600px;
    width: 100%;
}

#locations-info-section {
    width: 50%;
    float: left;
    padding: 5px 85px;
}

#geolocation-info-text {
    font-size: 16px;
}

.locate-me-container {
    text-align: center;
}

.locate-button {
    background-repeat: no-repeat;
    background-color: #000;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    color: #fff;
    font-size: 26px;
    width: 200px;
    height: 50px;
}

.locate-button:hover {
    background-color: #1e90ff;
}

#locations-form-section {
    width: 50%;
    height: 100%;
    float: left;
    padding: 15px 85px;
}

.locations-form-border {
    margin-left: 50%;
    border-right: 2px solid #d3d3d3;
    position: absolute;
}

#geolocations-text-format {
    font-size: 26px;
}

#geo-bold {
    color: #1e90ff;
}

.locations-text-format {
    font-family: LKLUG;
    font-size: 18px;
    font-weight: bold;
}

.locations-select-dropdown {
    height: 40px;
    width: 350px;
    font-size: 18px;
    background-color: transparent;
    color: #000;
    border-radius: 12px;
}

#locations-state {
    padding-bottom: 40px;
}

#locations-map {
    border: 50px solid #212529;
    margin: auto;
}

#locations-city-label {
    padding-bottom: 50px;
}

#googlelocate-me-button {
    margin-top: 50px;
}

#googlelocate-info {
    padding-top: 20px;
}

#googlelocate-me-error {
    padding-top: 10px;
}

#geolocate-me-error {
    padding-top: 10px;
}